# build output
dist/
# generated types
.astro/

# dependencies
node_modules/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store


video.mov

public/1000
public/600
public/2000