---
import Layout from "../layouts/Layout.astro";
import Show from "../components/Show.astro";
import Button from "../components/Button.astro";

const data = await fetch("https://ckutyzunqqammitjtjki.supabase.co/rest/v1/cphlightfestival", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrdXR5enVucXFhbW1pdGp0amtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3NjMxMjUsImV4cCI6MjAyNjMzOTEyNX0.Pvn7T70nYxGUe80GQtHwEQs4I0aj_DiOc4VmAlT7IpQ"
    }
}

).then(res=>res.json());

---

<Layout>
    <div class="start">
        <h1>PROGRAM</h1>
        <h3>02-25 FEBRUAR 2024</h3>
      </div>
      <div class="viden">
        <p class="beskrivelse">
          Her kan du finde information om lysværkerne samt vores tilgængelige
          aktiviteter under festivalen.
        </p>
      </div>
    
    
    
      <div class="selector">
        <button id="toggleBtn">
          <p>Vælg område og aktiviteter</p>
        </button>
      </div>
      
      <div id="dropdownContent" class="dropdown-content skjult">
        <div class="omrode skjult">
          <p class="omrode_p">Hvilke områder af byen ønsker du at se?</p>
          <div class="by_liste">
            <Button variant="primary">København K</Button>
            <Button variant="primary">Vesterbro</Button>
            <Button variant="primary">Nørrebro</Button>
            <Button variant="primary">Amager</Button>
            <Button variant="primary">Østerbro</Button>
            <Button variant="primary">Nordhavn</Button>
            <Button variant="primary">Nordvest</Button>
            <Button variant="primary">Amagerbro</Button>
            <Button variant="primary">Christianshavn</Button>
            <Button variant="primary">Valby</Button>
          </div>
        </div>
      
        <div class="valg_skjult skjult">
          <p>Hvad ønsker du at se?</p>
          <Button variant="primary">Lysværker</Button>
          <Button variant="primary">Events</Button>
        </div>
      </div>

<section class="shows">
    {data.map(show=>{
return <Show data={show} />;
    })}
</section>

</Layout>

<style>

    #toggleBtn {
        background-color: transparent;
        margin: 10px auto;
        color: white;
        font-family: "Montserrat", sans-serif;
      font-weight: lighter;
      width: 258px;
      height: 50px;
      text-transform: uppercase;
      font-size: 15px;
      border: 0.5px solid white;
      }
      .viden,
      .valg {
        border-bottom: 0.5px solid white;
        width: 80%;
        margin: 50px auto;
      }
    
      .start, .valg_skjult, .selector, .omrode {
        width: 80%;
        margin: 50px auto;
        margin-bottom: 20px; /* Tilføj en margin til bunden af elementerne */
      }
    
      .beskrivelse {
        margin-bottom: 60px;
      }
    
      .by_liste {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
      }
    
    
      .skjult {
     display: none;
      }
    
    
    
    </style>
    
    <script>
    document.getElementById("toggleBtn").addEventListener("click", function() {
      var dropdownContent = document.getElementById("dropdownContent");
      dropdownContent.classList.toggle("skjult");
    
      var omrodeSektion = document.querySelector(".omrode");
      omrodeSektion.classList.toggle("skjult");
    
      var valgSektion = document.querySelector(".valg_skjult");
      valgSektion.classList.toggle("skjult");
    });
    
    </script>