---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Bannermap from "../components/Bannermap.astro";


---

<Layout>

<h1>FORSIDE</h1>

<Banner />

<slot />

<Bannermap />
</Layout>

