---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Readmore from "../components/Readmore.astro";
import Sponsor from "../components/Sponsor.astro";

---

<Layout>
    <h1 class="start">KONTAKT OS</h1>
</Layout>


<style>
.start {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 20px;
}
</style>