---
import "./styles/style.css";
import Program_vark from "../components/Program_vark.astro";
import Layout from "../layouts/Layout.astro";


---

	<Layout>
		<h1>Astro</h1>

		<Program_vark />
	</Layout>

