---

---

<article class="footer_text">

    <div class="footer_box">
    <h3>KEEP IN TOUCH</h3>
    <p>TILMELD DIG NYHEDSBREV</p>
    <p>Tlf. +45 25 55 66 04</p>
    <p>info@copenhagenlightfestival.org</p>
</div> 

<div class="footer_box">
    <h3>FIND US ON SOCIAL MEDIA</h3>
    <p>Instragram</p>
    <p>Facebook</p>
    <p>YouTube</p>
</div>

<div class="footer_box">
    <h3>BEHIND CPH LIGHT FESTIVAL</h3>
    <p>PRESSE</p>
    <p>ØNSKER DU AT SPONSORERE?</p>
    <p>ER DU KUNSTNER?</p>
</div>

<p class="footer_copyright">© COPENHAGEN LIGHT FESTIVAL</p>
</article>



<style>
    .footer_text{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .footer_box, .footer_copyright {
        margin: 0px auto;
    }

    .footer_box h3 {
        border-bottom: 0.5px solid white;
    }

    .footer_text {
        background-color: black;
        opacity: 60%;
    }

</style>