---

---
<div class="nyhedsbrev_text">
    <div class="videmere">
      <h2>Vil du vide mere om Copenhagen Light Festival?</h2>
      <p>For at være sikker på at du er helt up to date med Copenhagen Light Festival er det en god ide at være med på vores nyhedsbrev.</p>
    </div>

      <form class="nyhedsbrev_viden" action="/submit" method="post" enctype="multipart/form-data">
      <div class="nyhedsbrev_tilmeld">
        <h2>TILMELD DIG HER</h2>
        <div class="information">
      <label for="fornavn"><input placeholder="e.g. Jens" type="text" id="fornavn" name="fornavn" required /></label>


      <label for="email"><input placeholder="Email" type="text" id="email" name="email" required /></label>
    

      <label for="beskrivelse"><input placeholder="Hvad er dit tilhørsforhold?" type="text" id="beskrivelse" name="beskrivelse" required /></label>
    </div>
    </form>
    <input type="submit" id="submit" value="submit" />
  </div>


<style>
    .nyhedsbrev_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        margin: 0 auto;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.6);
    }

 .nyhedsbrev_text {
    width: 750px; 
    height: 300px; 
    border: 2px solid white; 
    padding: 10px;
 }

 .nyhedsbrev_viden {
    border-left: 2px solid white;
 }

.nyhedsbrev_tilmeld {
    padding: 10px;
    grid: 2/2;
}


    input#fornavn, input#email, input#beskrivelse {
        background-color: black;
        border: 0.5px solid white;
        color: white;
        width: 395px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
    }

    #submit {
        margin-top: 5px;
        background-color: black;
        border: 0.5px solid white;
        color: white;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        width: 100px;
        height: 25px;

    }
    .videmere {
padding: 10px;
    }

</style>