---

---

<article class="nyhedsbrev_text">
    <div class="nyhedsbrev_viden">
<h2>Vil du vide mere om Copenhagen Light Festival?</h2>
<p>For at være sikker på at du er helt up to date med Copenhagen Light Festival er det en god ide at være med på vores nyhedsbrev.</p>
</div> 
<div class="nyhedsbrev_tilmeld">
<h2>TILMELD DIG HER</h2>
<div class="information">
<p class="fornavn">FORNAVN</p>
<p class="efternavn">EFTERNAVN</p>
<p>HVAD ER DIT TILHØRSFORHOLD?</p>
</div>
</div>
</article>


<style>
    .nyhedsbrev_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        margin: 0 auto;
    }

 .nyhedsbrev_text {
    width: 750px; 
    height: 300px; 
    border: 2px solid white; 
padding: 10px;
 }

 .nyhedsbrev_viden {
    border-right: 2px solid white;
 }

.nyhedsbrev_tilmeld {
    padding: 10px;
}
    .information {
        width: 400px;
        border: 2px solid white;
    }

    .fornavn, .efternavn {
        border-bottom: 2px solid white;
    }
</style>