---

---


<article class="vark">
    <h3>01. Du som er i Himmelen!</h3>
    <div class="placering">
       <p>Højbro Plads</p> 
    </div>
</article>


<style>
.vark {
    width: 80%;
    border: none;
    border-bottom: 2px solid white;
    margin: 50px auto; /* Centrer artiklen vandret */
}

.placering {
    width: 100px;
    border: 2px solid white;
    border-radius: 25px;
    margin-bottom: 10px;
}

.placering p {
    text-align: center;
}
</style>