---

---


<article class="vark">
    <h3>01. Du som er i Himmelen!</h3>
    <div class="placering">
       <p>Højbro Plads</p> 
    </div>
</article>


<style>
.vark {
    width: 80%;
    border: none;
    border-bottom: 0.5px solid white;
    margin: 50px auto; /* Centrer artiklen vandret */
}

.vark:hover h3, .vark:hover .placering p {
    color: #0FF0FF; /* Ændr farven på h3-elementet til lys grå ved hover */
}

.vark:hover .placering, .vark:hover {
    border-color: #0FF0FF; /* Ændr kantfarven på .placering-elementet til lys grå ved hover */
}


.placering {
    width: 100px;
    border: 2px solid white;
    border-radius: 25px;
    margin-bottom: 10px;
}

.placering p {
    text-align: center;
}
</style>

