body {
  background-image: url("public/testbkg.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1,
h2,
p,
a,
h3 {
  color: white;
}

h1,
h2,
h3,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.text-rotate {
  white-space: nowrap;
  position: absolute;
  font-size: 24px; /* Adjust font size as needed */
  opacity: 0; /* Initially hidden */
  animation: marquee 35s linear infinite;
  right: 0; /* Start position on the right side */
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from the right edge */
    /* opacity: 1; Remove opacity property */
    opacity: 1;
  }
  100% {
    transform: translateX(
      -500%
    ); /* Move completely to the left (twice the container width) */
    opacity: 1;
  }
}

.text-rotate:nth-child(2) {
  animation-delay: 7s; /* Delay the animation of the second text by half the duration */
}

.text-rotate:nth-child(3) {
  animation-delay: 14s; /* Delay the animation of the second text by half the duration */
}
.text-rotate:nth-child(4) {
  animation-delay: 21s; /* Delay the animation of the second text by half the duration */
}

.text-rotate:nth-child(5) {
  animation-delay: 28s; /* Delay the animation of the second text by half the duration */
}
